.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 0;
}

.text {
  flex-grow: 1;
  margin-left: 10px;
  width: 200px;
  overflow: hidden;
  /* text-align: center; */
}

.btndelete {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  color: #f44336;
}
.btnedit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  color: black;
}

.btn:hover {
  background-color: #e2e5e8;
}

.btn:active {
  background-color: #bdbdbd;
}

.modalMain {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 0;
}
.modalMain:hover {
  cursor: pointer;
}

.title {
  margin: 0 auto;
  text-align: center;
}
.modalBtn {
  display: grid;
  justify-items: center;
}
.delete {
  color: #f44336;
}
.edit {
  color: black;
}
