.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 0;
}

.text {
  flex-grow: 1;
  margin-left: 10px;
  width: 200px;
  overflow: hidden;
  /* text-align: center; */
}

.btndelete {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  color: #f44336;
}
.btnedit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  color: black;
}

.btn:hover {
  background-color: #e2e5e8;
}

.btn:active {
  background-color: #bdbdbd;
}

.modalMain {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 0;
}
.modalMain:hover {
  cursor: pointer;
}

.title {
  margin: 0 auto;
  text-align: center;
}
.modalBtn {
  display: grid;
  justify-items: center;
}
.delete {
  color: #f44336;
}
.edit {
  color: black;
}

.modalMain {
  flex: 1;
}

.btnedit,
.btndelete {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.modalMain input,
.modalMain textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
}

.modalMain input:focus,
.modalMain textarea:focus {
  border-color: #4caf50;
  outline: none;
}

.modalMain button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.modalMain button:hover {
  background-color: #45a049;
}
